<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eleganzit.msafiridriver">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service android:name=".utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".utils.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".utils.GoogleService"
            android:enabled="true" />

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".utils.MyLocationReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped" />

        <service
            android:name=".utils.SensorService"
            android:enabled="true" />

        <activity
            android:name=".SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ChoosePictureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PersonalInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BankAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DocumentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VehicleDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities_from_register.RegisterChoosePictureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities_from_register.RegisterPersonalInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities_from_register.RegisterBankAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities_from_register.RegisterDocumentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities_from_register.RegisterVehicleDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NavHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TripDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutUs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PickupLocation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SaveRouteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DemoScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PayDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ViewRating"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TripDetail2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LocationSearch"
            android:excludeFromRecents="true"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PassengerListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OnboardPassengerListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OTPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BottomSheetActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="da053ae7792cbe461205212aac624d1afcd9fa4c" />

        <activity
            android:name=".activity.HomePassengerListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TripActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MapActivity" />
        <activity android:name=".GetCurrentLocation"/>
        <activity android:name=".utils.AndroidDetOrientationActivity"/>
    </application>

</manifest>